@font-face {
    font-family: Metrophobic;
    src: url(../fonts/Metrophobic-Regular.ttf)
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
}

h2 {
    font-size: 38px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
}

html,
body {
    height: 100%;
    line-height: 1;
    background: #fff;
    font-size: 14px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}

input {
    outline: none;

}

.container {
    max-width: 1041px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.menu-btn {
    display: none;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    right: 5%;
    border-radius: 10px;
    border: 3px solid #f7f1ff;
    box-shadow: 0px 1px 6px #000;
    overflow: hidden;
    z-index: 100;
    transition: all 1s;
}

.menu-btn__line {
    width: 80%;
    height: 6px;
    background-color: #722ed1;
    border-radius: 5px;
    transition: all 1s;
}

.menu-btn__line:nth-child(1) {
    transform: translate(7px, 14px);
}

.menu-btn__line:nth-child(2) {
    transform: translate(7px, 24px);
}

.menu-btn__line:nth-child(3) {
    transform: translate(7px, 33px);
}

/*---------------------------------

            HEADER

---------------------------------*/
.header {
    z-index: 10;
    position: relative;
}

.header__content {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header__logo-wrap {
    flex-basis: 40%;
}

.logo {}

.logo__img {
    position: relative;
    top: 11px;
}

.header__links-wrap {
    flex-basis: 60%;
}

.header__link>a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.5s;
    border-bottom: 1px solid #fff;
}

.header__link>a:hover {
    border-bottom: 1px solid #000;
}

.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header__link {

    text-align: center;
    transition: all 0.3s;
    position: relative;
}

.header__drop-span {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header__drop-span:after {
    content: "<";
    transform: rotate(-90deg);
    display: inline-block;
    position: relative;
    top: -1px;
    left: 8px;
    font-size: 15px;
    font-family: monospace;
}

.header__drop-span:hover+.header__drop-list {
    display: block;
}

.header__drop-list {
    display: none;
    position: absolute;
    top: 18px;
    left: -1px;
    width: 120px;
    text-align: left;
}

.header__drop-list:hover {
    display: block;
}

.header__item {
    padding: 5px 0px;
    max-width: 300px;
}

.header__item>a {
    color: #000;
    font-weight: 600;
}

.header__link--border {}

.header__link--border>a {
    padding: 9px 26px;
    border-radius: 20px;
    color: #722ED1;
    border: 1px solid #722ED1;
    transition: all 0.7s;
}

.header__link--border>a:hover {
    border: 1px solid #722ED1;
    color: #fff;
    background-color: #722ED1;
}


/*---------------------------------

            FIRST-SECTION

---------------------------------*/


.first-section {
    padding-top: 141px;
    padding-bottom: 229px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.first-section::after {
    content: "";
    width: 140%;
    height: 700px;
    display: block;
    position: absolute;
    top: -167px;
    left: -81px;
    transform: rotate(-5deg);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 31%, rgb(227 241 255) 66%);
    z-index: 6;
}

.first-section__content {
    display: flex;
    justify-content: space-between;
}

.first-section__data-text {
    flex-basis: 46%;
}

.first-section__version {
    max-width: 256px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    padding: 12px 0px;
    background-color: #f7f1ff;
    color: #722ED1;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.first-section__span-version {
    margin-left: 10px;
    margin-right: 11px;
    font-weight: 600;
}

.first-section__version-link {
    font-weight: 600;
    color: #722ED1;
    text-decoration: revert;
}

.first-section__heading {
    max-width: 430px;
    font-size: 48px;
    margin: 17px 0px 26px 0px;
    line-height: 51px;
    font-family: sans-serif;
}

.first-section__paragraph {
    font-weight: 600;
    opacity: 0.6;
    margin-bottom: 30px;
    line-height: 21px;
}

.first-section__links {
    display: flex;
}

.first-section__link {
    padding: 10px 20px;
    border-radius: 20px;
    color: #722ED1;
    background-color: #fff;
}

.first-section__link--highlighted {
    color: #fff;
    background-color: #722ED1;
    margin-right: 20px;
}

.first-section__data-img {
    position: relative;
    top: -34px;
    left: 8px;
}

.first-section__data-img>img {
    max-width: 476px;
}


/*---------------------------------

            EXPLANATION

---------------------------------*/


.explanation {
    padding-bottom: 90px;
}

.explanation__grouping {}

.explanation__centralized {
    text-align: center;
    margin-bottom: 24px;
}

.explanation__inline-wrap {
    display: inline-block;
}

.colored-wrapper {
    display: flex;
    padding: 11px 17px;
    text-align: center;
    border-radius: 20px;
    background-color: #f7f1ff;
    align-items: center;
}

.colored-wrapper__img {
    margin-right: 11px;
}

.colored-wrapper__text {
    font-weight: 600;
    color: #722ed1;
    font-family: sans-serif;
}

.explanation__description {
    margin-bottom: 25px;
}

.explanation__heading {
    font-size: 31px;
    text-align: center;
    margin-bottom: 32px;
}

.explanation__description-paragraph {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    line-height: 23px;
}

.explanation__list {
    display: flex;
    justify-content: space-evenly;
}

.explanation__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.explanation__img-wrap {

    width: 40px;

    height: 40px;

    margin: 0 auto;

    border-radius: 50px;

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 19px;
}

.explanation__img-wrap--blue {

    background-color: #E6F7FF;
}

.explanation__img-wrap--red {

    background-color: #FFF1F0;
}

.explanation__img-wrap--green {

    background-color: #F6FFED;
}

.explanation__item-img {
    /* position: relative; */
    top: 10px;
}

.explanation__list-heading {
    font-size: 17px;
    margin-bottom: 21px;
}

.explanation__list-paragraph {
    max-width: 310px;
    letter-spacing: 1px;
    line-height: 23px;
}


/*---------------------------------

            TEAM

---------------------------------*/


.team {
    padding: 70px 0px;
}

.team-content {
    display: flex;
    align-items: center;
}

.team__circle {
    max-width: 400px;
    width: 100%;
    position: relative;
    margin-right: 83px;
}

.team__first-ring {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 400px;
    border: 1px solid #EEDFF9;
}

.team__first-ring::before {
    content: "";
    width: 400px;
    height: 400px;
    display: inline-block;
    position: absolute;
}

.team__ring-img {
    display: flex;
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 1px 3px 6px #00000047;
    align-items: center;
    justify-content: center;
}

.team__ring-snowflake {
    transform: translate(160px, -36px);
}

.team__ring-colored {
    transform: translate(4px, -40px);
}

.team__ring-amazon {
    transform: translate(80px, 193px);
    padding-top: 7px;
    padding-left: 3px;
}

.team__second-ring {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 400px;
    border: 1px solid #EEDFF9;
}

.team__ring-cloud {
    transform: translate(-29px, 140px);
}

.team__ring-magnifier {
    transform: translate(190px, 161px);
}

.team__ring-figure {
    transform: translate(260px, -16px);
}

.team__ring-mysql {
    transform: translate(214px, -207px);
}

.team__third-ring {}

.team__orbit {
    display: flex;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 400px;
    border: 1px solid #EEDFF9;
    align-items: center;
    justify-content: center;
}

.team__orbit-img {
    width: 110px;
    height: 110px;
    border-radius: 100px;
}

.team__text {
    max-width: 495px;
}

.team__heading {
    margin-top: 25px;
    font-size: 31px;
}

.team__paragraph {
    margin-top: 27px;
    margin-bottom: 31px;
    line-height: 25px;
    max-width: 450px;
}


/*---------------------------------

            DATA-DRIVEN

---------------------------------*/


.data-driven {
    padding-top: 16px;
}

.data-driven__content {
    display: flex;
    align-items: center;
}

.data-driven__text {
    flex-basis: 60%;
    position: relative;
    /* top: 40px; */
}

.data-driven__heading {
    font-size: 33px;
    position: relative;
    top: 26px;
}

.data-driven__paragraph {
    position: relative;
    top: 53px;
    line-height: 25px;
    max-width: 430px;
}

.data-driven__img-wrap {
    height: 420px;
    flex-basis: 40%;
    position: relative;
}

.data-driven__img {
    position: absolute;
    top: 35px;
    left: -134px;
}


/*---------------------------------

            QUBLY

---------------------------------*/


.qubly {
    position: relative;
    padding-top: 251px;
    padding-bottom: 340px;
    overflow: hidden;
}

.qubly::after {
    content: "";
    width: 140%;
    height: 590px;
    display: block;
    position: absolute;
    top: 123px;
    left: -81px;
    transform: rotate(-5deg);
    background: linear-gradient(180deg, rgba(252, 248, 255, 1) 18%, rgba(242, 248, 255, 1) 86%);
    z-index: 6;
}

.qubly__content {}

.qubly__paragraph {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 34px;
    max-width: 920px;
    line-height: 30px;
}

.qubly__cto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
}

.qubly__img-wrap {
    margin-bottom: 28px;
}

.qubly__img {}

.qubly__abot-cto {
    text-align: center;
    font-weight: 600;
    line-height: 27px;
}

.qubly__companies-list {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #DEC9FA;
    padding-top: 33px;
}

.qubly__company {}


/*---------------------------------

            FEEDBACK

---------------------------------*/


.feedback {
    padding-top: 24px;
}

.feedback__content {
    display: flex;
    justify-content: center;
}

.feedback__text {
    flex-basis: 50%;
}

.feedback__heading {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 2px;
    margin-bottom: 39px;
}

.feedback__separator {
    max-width: 450px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -25px;
}

.feedback__separator-line {
    flex-basis: 30%;
    height: 10px;
    border-bottom: 1px solid #D6D6D6;
}

.feedback__separator-text {
    padding: 0px 28px;
}

.feedback__logos {
    display: flex;
    flex-wrap: wrap;
}

.feedback__logo-wrap {
    flex-basis: 50%;
    margin-top: 57px;
}

.feedback__logo-img {}

.feedback__wrap-form {
    position: relative;
    flex-basis: 50%;
}

.feedback__shadow {
    width: 480px;
    height: 480px;
    position: absolute;
    top: -8px;
    left: 40px;
    border-radius: 5px;
    background-color: #F9F0FF;
    z-index: 1;
    float: right;
}

.feedback__form {
    width: 430px;
    z-index: 10;
    position: relative;
    top: -44px;
    left: 66px;
    padding: 30px 43px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #0000003b;
}

.feedback__form-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 21px;
}

.feedback__colored-input {
    margin: 0 auto;
    width: 100%;
    padding: 14px 0px;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    background-color: #722ED1;
}

.feedback__input-text {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
    padding: 14px 13px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #6b6b6b;
    background-color: #ffffff;
}

.feedback__or {
    text-align: center;
    margin-top: 13px;
    font-weight: 600;
}

.feedback__google-btn {
    text-align: center;
    margin-top: 17px;
}

.feedback__google-img {}

.feedback__login {

    font-size: 15px;

    text-align: center;

    margin-top: 13px;

    padding-top: 14px;

    border-top: 1px solid #c0c0c0;
}

.feedback__login-span {
    display: inline-block;
    color: #717171;
    margin-right: 5px;
}

.feedback__login-link {

    color: #722ed1;
}


/*---------------------------------

            FOOTER

---------------------------------*/


.footer {
    padding-top: 167px;
}

.footer__links {
    /* display: flex; */
    margin-bottom: 60px;
}

.footer-about {
    /* flex-basis: 20%; */
    max-width: 165px;
}

.footer__paragraph {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
}

.footer__social-media {
    margin-top: 21px;
    display: flex;
}

.footer__social-link {
    margin-right: 13px;
}

.footer__column-links {
    display: flex;
    flex-basis: 80%;
    /* margin-left: 50px; */
    justify-content: space-between;
}

.footer__column-item {
    /* padding-left: 44px; */
    position: relative;
}

.footer__heading-item {
    font-size: 16px;
    /* max-width: 130px; */
}

.footer__column-item>form {
    position: relative;
}

.footer__list-links {}

.footer__list-link {
    margin-top: 16px;
    font-size: 12px;
}

.footer__list-link>a {
    color: #000;
}

.footer__copywriter {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.footer__copywriter-text {
    padding: 5px 7px;
    font-weight: 600;
}

input.footer__input {
    width: 180px;
    padding: 9px 40px 9px 19px;
    font-size: 12px;
    margin-top: 25px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #00000042;
}

button.footer__submit {
    position: absolute;
    top: 32px;
    right: 15px;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 1350px) {

    .data-driven__img {
        left: -270px;
    }

}

@media (max-width: 1100px) {

    .container {
        padding: 0px 25px;
    }

    .data-driven__text {
        z-index: 10;
    }

    .data-driven__img {
        left: -400px;
        opacity: 0.5;
    }

    .team .team-content .team__circle {
        transform: scale(0.7);
    }

    .team .team-content .team__text {
        transform: translateZ(0);
    }

    .feedback__text {
        text-align: center;
        padding: 0px 20px;
    }

    .feedback__separator {
        max-width: unset;
        left: unset;
    }

    .feedback__shadow {
        display: none;
    }

    .feedback__form {
        left: 0px;
        box-shadow: 1px 1px 6px #0000003b;
    }

}

@media (max-width: 850px) {

    .header__content {
        display: block;
        padding: 20px 0px;
    }

    .logo {
        display: none;
    }

    .header__links-wrap {
        flex-basis: 80%;
    }

    .first-section {
        padding-top: 40px;
    }

    .first-section__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }

    .first-section__data-text {
        flex-basis: 100%;
        z-index: 10;
    }

    .first-section__data-img {
        margin-bottom: -80px;
    }

    .first-section__data-img>img {
        opacity: 0.5;
    }

    .first-section::after {
        top: -20px;
    }

    .team .team-content .team__text {
        margin-top: 50px;
        flex-basis: 100%;
    }

    .explanation__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .explanation__item {
        margin-top: 50px;
    }

    .explanation__list-paragraph {
        max-width: 400px;
    }

    .team-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__circle {
        margin-right: unset;
    }

    .team__text {
        margin-top: 120px;
        max-width: unset;
    }

    .team__paragraph {
        max-width: unset;
    }

    .data-driven__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .data-driven__text {
        flex-basis: 100%;
        text-align: right;
    }

    .data-driven__img-wrap {
        display: none;
    }

    .data-driven__paragraph {
        max-width: unset;
    }

    .qubly {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .qubly__companies-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .qubly__company {
        flex-basis: 50%;
        text-align: center;
        margin: 11px 0px;
    }

    .qubly__company>img {
        width: 150px;
    }

    .qubly::after {
        top: 123px;
        height: 650px;
    }

    .feedback__content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .feedback__text {
        flex-basis: 100%;
        margin-bottom: 100px;
    }

    .feedback__wrap-form {
        flex-basis: 100%;
    }

    .feedback__form {
        margin: 0 auto;
    }

    .footer__column-links {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__column-item {
        padding: 20px 10px;
    }

}

@media (max-width: 500px) {

    .menu-btn {
        display: block;
    }

    .menu-btn--active {
        right: unset;
        right: 77%;
    }

    .menu-btn--active .menu-btn__line:nth-child(1) {
        transform: translate(6px, 30px) rotate(-45deg);
    }

    .menu-btn--active .menu-btn__line:nth-child(2) {
        transform: translate(100px, 23px);
    }

    .menu-btn--active .menu-btn__line:nth-child(3) {
        transform: translate(7px, 17px) rotate(45deg);
    }

    .header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 110%;
        right: -110%;
        transition: all 1s;
        box-shadow: -10px 0px 10px #00000087;
        background-color: #fff;
    }

    .header--active {
        right: -30%;
    }

    .header__links-list {
        flex-direction: column;
    }

    .header__link {
        margin: 30px 0px;
        left: -50px;
        font-size: 20px;
    }
    
    .header__drop-span {
        font-size: 20px;
    }
    
    .header__link>a {
        font-size: 20px;
    }

    .header__drop-list {
        top: 20px;
        background-color: #fff;
        z-index: 1;
    }

    .header__item {
        padding: 10px 0px;
    }

    .first-section__data-img>img {
        max-width: 500px;
        width: 100%;
        opacity: 0.2;
        display: none;
    }

    .first-section::after {
        top: -300px;
    }

    .explanation {
        padding-bottom: unset;
    }

    .team {
        padding: 50px 0px;
    }

    .team .team-content .team__circle {
        max-width: 250px;
        width: 100%;
        left: -50px;
        flex-basis: 100%;
        margin: 0 auto;
    }

    .team-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: unset;
    }

    .data-driven {
        padding-top: 0px;
    }
    
    .qubly {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    .feedback__form {
        max-width: 400px;
        width: 100%;
    }

    .feedback__login-span {
        margin-bottom: 10px;
    }

    .footer {
        padding-top: 50px;
    }

}

@media (max-width: 400px) {

    .first-section {
        padding-top: 180px;
        padding-bottom: 200px;
    }

    .first-section::after {
        top: -220px;
    }

    .first-section__links {
        flex-wrap: wrap;
    }

    .first-section__link {
        margin-bottom: 20px;
    }

    .first-section::after {
        top: -90px;
    }

    .feedback__logos {
        flex-direction: column;
    }

    .qubly::after {
        top: 140px;
        height: 650px;
    }

    .qubly__company>img {
        width: 100px;
    }

}
